.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
 
.default-color0.chart-series-line { -fx-stroke: #0096ff; }
.default-color1.chart-series-line { -fx-stroke: #008e00; }
 
.default-color0.chart-line-symbol { -fx-background-color: #0096ff, white; }
.default-color1.chart-line-symbol { -fx-background-color: #008e00, white; }
